.hide-member-container {
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2px;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid rgba(196, 154, 124, 0.3);
  background-color: #1a1a1a;
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(196, 154, 124, 0.2);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(196, 154, 124, 0.2);
  box-shadow: inset 0px 0px 10px 2px rgba(196, 154, 124, 0.2);
  padding: 5px;
  font-size: clamp(0.8rem, 0.8vw, 1.8rem);
  .button-text {
    flex-grow: 1 !important;
    // width: 100% !important;
  }
}

.checkbox-item-container {
  width: 19%;
  line-height: 1.5rem;
  [type="checkbox"] {
    opacity: 0;
  }

  .checkbox-text,
  .eye-icon {
    cursor: pointer;
  }
}

@media (max-width: 1440px) {
  .hide-member-container {
    flex-grow: 3;
  }
}

@media (max-width: 768px) {
  .checkbox-item-container {
    width: 49%;
  }
}
