.grid-item.info-cell {
  font: inherit;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-end;
  .logo-img {
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
  }
  .info-text {
    line-height: 0.9rem;
    align-self: stretch;
    height: 50%;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    text-shadow: 0px 0px 10px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
    gap: 0;
    padding: 0;
    border: 0;
  }
  .info-text:nth-child(3) {
    font-size: 0.55rem;
  }
}
